@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

$bg-primary: #11d3bc;
$bg-secondary: #15b7b9;
$bg-danger: #f02282;
$text-grey: rgba(0, 0, 0, 0.4);
$text-dark: black;
$text-light: white;
$text-primary: #3a316e;

$primary-family: "Montserrat", sans-serif;
