.cart {
  margin-top: 6rem;

  .left {
    border-radius: 5px;
    box-shadow: 0px 0px 5px silver;
    padding: 1rem;
  }

  &__container {
    @include container;
  }

  &__title {
    @include heading;
    margin-bottom: 2rem;
    &::after {
      @include background-line(60px);
    }
  }

  .cartItem {
    border-bottom: 1px solid gray;
    &__container {
      margin-bottom: 1.5rem;
      padding: 1rem 1.4rem;
    }

    img {
      cursor: pointer;
      height: 200px;
      width: 200px;
    }

    .btn__group {
      input[type="number"] {
        height: 30px;
        width: 100px;
        border: none;
        outline: none;
        border: 1px solid gray;
        padding-left: 4px;
      }

      button {
        border: none;
        outline: none;
        outline: none;
        font-size: 1.5rem;
        color: gray;

        i {
          border-radius: 50%;
          font-size: 1rem;
          background: $text-grey;
          padding: 0.5rem;
          font-weight: bolder;
          color: $text-light;
        }

        &:nth-child(1) {
          margin-right: 10px;
        }

        &:nth-child(3) {
          margin-left: 10px;
        }
      }

      @include breakpoint-up(lg) {
        margin-left: 16px;
      }
    }

    &__content {
      @include breakpoint-down(lg) {
        margin-top: 20px;
      }
      @include breakpoint-down(md) {
        margin-top: 40px;
      }

      .productName {
        line-height: 1.8rem;
        letter-spacing: 1px;
      }

      .removeBtn {
        margin-top: 1rem;
        @include mainBtn;
        background-color: $bg-danger;
      }
    }
  }

  .priceInfo {
    padding: 1rem;
    box-shadow: 0px 0px 5px silver;
    border-radius: 5px;

    @include breakpoint-up(md) {
      position: fixed;
      padding: 1rem 2rem;
    }

    &__title {
      @include heading;
      margin-bottom: 2rem;
      font-size: 1.3rem;
      &::after {
        @include background-line(100px);
      }
    }

    button {
      background-color: $bg-secondary !important;
      font-weight: bold;
      outline: none !important;
      border: none !important;

      &:focus {
        outline: none !important;
      }
    }

    &__container {
      .row {
        h6 {
          font-weight: bold;
          color: lighten($text-dark, 45%);
          letter-spacing: 1px;
          line-height: 1.5rem;
        }
        &:last-child h6 {
          color: $text-dark;
        }
      }
    }
  }
}
