.carouselSlider {
  position: relative;
  margin-top: 4rem;
  img {
    height: 90vh;
    object-fit: contain;
    z-index: 2;
    @include breakpoint-down(md) {
      margin-top: 2rem;
      height: 60vh;
    }
  }

  .content {
    @include breakpoint-down(md) {
      padding-top: 3rem;
    }

    @include breakpoint-down(md) {
      text-align: center;
      padding-top: 2rem;

      .name {
        font-size: 1.2rem;
        line-height: 1.8rem;
      }
      .price {
        font-size: 1rem;
      }
      .buyNow {
        padding: 0.4rem 1.2rem;
        font-size: 0.9rem;
        @include mainBtn;
      }
    }
  }

  .name {
    font-weight: bolder;
    font-size: 1.6rem;
    line-height: 2.5rem;
  }

  .price {
    margin: 1.5rem 0;
    font-weight: bold;
  }

  .buyNow {
    @include mainBtn;
    padding: 0.8rem 3rem;
    font-size: 1.1rem;
  }

  .carousel {
    &-control-next,
    &-control-prev {
      border-radius: 50%;
      width: 30px;
      height: 30px;
      margin: auto;
      background: $bg-primary;
    }
    &-control-next {
      right: 40px;
      @include breakpoint-down(sm) {
        right: 20px;
      }
    }
    &-control-prev {
      left: 40px;
      @include breakpoint-down(sm) {
        left: 20px;
      }
    }

    &-indicators {
      li {
        background-color: $bg-primary;
      }
    }
  }
}
