.home {
  // brand new product section starts
  .brandNewProducts {
    @include container;

    &__title {
      padding-top: 4rem;
      margin-bottom: 3rem;
      @include heading;
      &::after {
        @include background-line(120px);
      }
      @include breakpoint-down(sm) {
        font-size: 1.3rem;
      }
    }
  }

  // brand new product section ends

  //card section starts
  .card {
    cursor: pointer;
    box-shadow: 0px 0px 2px silver;
    margin-bottom: 1.5rem;
    border-radius: 5px;
    overflow: hidden;
    transition: box-shadow 0.3s ease-in;
    &::after {
      content: "";
      background-color: $bg-danger;
      height: 6px;
      display: block;
      width: 0%;
      margin: auto;
      transition: width 0.8s ease-in-out;
    }

    &:hover {
      box-shadow: 0px 0px 10px silver;
    }

    &:hover .card__btn {
      transform: translateX(0);
    }
    &:hover::after {
      width: 100%;
    }

    img {
      height: 240px;
      object-fit: contain;
      object-position: center;
      position: relative;
    }

    &__btn {
      @include mainBtn;

      position: absolute;
      right: 0;
      top: 5px;

      transform: translateX(+50vh);
      transition: background-color 0.5s ease-in-out, transform 1s ease-in-out;

      &:hover {
        background-color: $bg-primary;
      }
    }

    &__name {
      margin: 1rem 0;
      font-weight: 600;
      font-size: 1rem;
      line-height: 1.5rem;
      letter-spacing: 1px;
    }
  }
  //card section ends

  //offer section starts
  .offerSection {
    min-height: 50vh;

    &__container {
      @include container;
    }

    &__Card:nth-child(1) {
      margin-bottom: 1rem;
      box-shadow: 0 0 5px silver;
    }

    &__Card:nth-child(2) {
      box-shadow: 0 0 5px silver;
      margin-bottom: 1rem;
    }

    &__Card > div {
      padding: 2rem 1rem 1rem 1rem;

      .productName {
        font-size: 1rem;
        margin-bottom: 1rem;
        text-transform: capitalize;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: bolder;
      }

      .priceDisplay {
        font-size: 1rem;
        margin: 1.5rem 0;
      }

      p {
        margin: 1rem 0;
        font-size: 0.8rem;
      }
    }

    img {
      height: 300px;
      width: 100%;
      object-fit: fill;
    }

    .title {
      @include heading;

      &::after {
        @include background-line(150px);
      }
    }

    .buyNow {
      margin-top: 1rem;
      @include mainBtn;
    }
  }
  //offer section ends

  //all products section starts
  .allProducts {
    margin-top: 3rem;
    &__container {
      @include container;
    }

    &__title {
      margin: 2rem 0;
      @include heading;
      &::after {
        @include background-line(100px);
      }
      @include breakpoint-down(sm) {
        font-size: 1.3rem;
      }
    }
  }

  .page-item {
    .page-link {
      color: $text-dark !important;
      outline: none !important;
    }

    &.active {
      span {
        background: $bg-danger !important;
        color: $text-light !important;
        border: none !important;
      }
    }
  }

  //all products section ends
}
